# Advanced Querying Mongo

Importing libraries and setting up connection

In [3]:
from pymongo import MongoClient
from pymongo import ASCENDING, DESCENDING
import re

dbName = "companies"
mongodbURL = f"mongodb://localhost/{dbName}"
print(mongodbURL)
client = MongoClient(mongodbURL, connectTimeoutMS=2000,serverSelectionTimeoutMS=2000)
db = client.get_database()

mongodb://localhost/companies

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [4]:
# Your Code
list(db.companies.find({"name":"Babelgum"},{"name":1}))

[{'_id': ObjectId('52cdef7c4bab8bd675297da0'), 'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [5]:
# Your Code
list(db.companies.find({"number_of_employees":{ "$gt": 5000 }},{"_id":0,"name":1}).sort(
    [("number_of_employees", ASCENDING)]
).limit(20))

[{'name': 'Nintendo'},
 {'name': 'Hexaware Technologies'},
 {'name': 'Facebook'},
 {'name': 'OpenText'},
 {'name': 'LSI'},
 {'name': 'CPM Braxis'},
 {'name': 'Microchip Technologies'},
 {'name': 'Mediaset'},
 {'name': 'Mindray Medical International'},
 {'name': 'Baidu'},
 {'name': 'Dentsu'},
 {'name': 'Tata Communications'},
 {'name': 'Atmel'},
 {'name': 'Acxiom'},
 {'name': 'Acxiom'},
 {'name': 'SRA International'},
 {'name': "Moody's"},
 {'name': 'ManTech'},
 {'name': 'Adobe Systems'},
 {'name': 'Broadcom'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [6]:
# Your Code
list(db.companies.find({"founded_year":{ "$in": list(range(2000,2005)) }},
                       {"_id":0,"name":1,"founded_year":1}).limit(10))

[{'name': 'Digg', 'founded_year': 2004},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002},
 {'name': 'AddThis', 'founded_year': 2004},
 {'name': 'Veoh', 'founded_year': 2004},
 {'name': 'Meetup', 'founded_year': 2002},
 {'name': 'SmugMug', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [7]:
# Your Code
# https://docs.mongodb.com/manual/tutorial/query-embedded-documents/
list(db.companies.find({"$and":[{"founded_year":{ "$lt": 2010 }},
                                {"ipo.valuation_amount": { "$gt": 100000000 }}]},
                       {"_id":0,"name":1,"ipo":1}).limit(3))

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [8]:
# Your Code
list(db.companies.find({"$and":[{"number_of_employees":{ "$lt": 1000 }},
                                {"founded_year": { "$lt": 2005 }}]},
                       {"_id":0,"name":1}).sort(
    [("number_of_employees", ASCENDING)]
).limit(10))

[{'name': 'Fox Interactive Media'},
 {'name': 'Skype'},
 {'name': 'Ticketmaster'},
 {'name': 'stylediary'},
 {'name': 'MindTouch'},
 {'name': 'Simpy'},
 {'name': 'Eurekster'},
 {'name': 'Compete'},
 {'name': 'EditGrid'},
 {'name': 'Monster'}]

### 6. All the companies that don't include the `partners` field.

In [9]:
# Your Code
list(db.companies.find({ "partners": { "$exists": True }},{"_id":0,"name":1}).limit(5))

[{'name': 'AdventNet'},
 {'name': 'Wetpaint'},
 {'name': 'Zoho'},
 {'name': 'Omnidrive'},
 {'name': 'Postini'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [10]:
# Your Code
list(db.companies.find({ "category_code": { "$type": "null" }},{"_id":0,"name":1}).limit(5))

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [11]:
# Your Code
list(db.companies.find({"number_of_employees":{ "$in": list(range(100,999)) }},
                       {"_id":0,"name":1,"number_of_employees":1}).limit(5))

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price in a descending order.

In [12]:
# Your Code
list(db.companies.find({ "_id": { "$exists": True }},{"_id":0,"name":1})
     .sort([("ipo.valuation_amount", DESCENDING)]).limit(10))

[{'name': 'GREE'},
 {'name': 'Facebook'},
 {'name': 'Amazon'},
 {'name': 'Twitter'},
 {'name': 'Groupon'},
 {'name': 'Tencent'},
 {'name': 'Western Digital'},
 {'name': 'LinkedIn'},
 {'name': 'BMC Software'},
 {'name': 'Rackspace'}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [13]:
# Your Code
list(db.companies.find({ "_id": { "$exists": True }},{"_id":0,"name":1,"number_of_employees":1})
     .sort([("number_of_employees", DESCENDING)]).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [15]:
# Your Code
list(db.companies.find({"founded_month":{ "$in": list(range(7,12)) }},
                       {"_id":0,"name":1,"founded_month":1}).limit(1000))

SyntaxError: invalid syntax (<ipython-input-15-b50ec5bac306>, line 3)

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [28]:
# Your Code
list(db.companies.find({"$and":[{"founded_year":{ "$lt": 2000 }},
                                {"acquisition.price_amount": { "$gt": 10000 }}]},
                       {"_id":0,"name":1,"acquisition.price_amount":1}).limit(5))

[{'name': 'Postini', 'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep', 'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar', 'acquisition': {'price_amount': 25000000}},
 {'name': 'Cyworld', 'acquisition': {'price_amount': 7140000}},
 {'name': 'PayPal', 'acquisition': {'price_amount': 1500000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [30]:
# Your Code
list(db.companies.find({"$and":[{"founded_year":{ "$lt": 2000 }},
                                {"acquisition.price_amount": { "$exists": True }}]}
                       ,{"_id":0,"name":1, "acquisition":1})
     .sort([("acquisition.price_amount", DESCENDING)]).limit(3))

[{'name': 'BEA Systems',
  'acquisition': {'price_amount': 8500000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.oracle.com/corporate/press/2008_jan/bea.html',
   'source_description': 'Oracle to Acquire BEA Systems',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Oracle Corporation',
    'permalink': 'oracle'}}},
 {'name': 'Navteq',
  'acquisition': {'price_amount': 8100000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.businessweek.com/stories/2007-10-01/nokia-to-pay-8-dot-1-billion-for-navteqbusinessweek-business-news-stock-market-and-financial-advice',
   'source_description': 'Press Release',
   'acquired_year': 2008,
   'acquired_month': 7,
   'acquired_day': 10,
   'acquiring_company': {'name': 'Nokia', 'permalink': 'nokia'}}},
 {'name': 'Sun Microsystems',
  'acquisition': {'price_amount': 7400000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://www.techcrunch.com/2009/04/20/oracle-to-buy-sun-hold-on-to-your-hats/',
   'source_description': 'Oracle To Buy Sun For Approximately $7.4 Billion - Hold On To Your Hats',
   'acquired_year': 2009,
   'acquired_month': 4,
   'acquired_day': 20,
   'acquiring_company': {'name': 'Oracle Corporation',
    'permalink': 'oracle'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [32]:
# Your Code
list(db.companies.find({ "_id": { "$exists": True }},{"_id":0,"name":1,"founded_year":1})
     .sort([("founded_year", DESCENDING)]).limit(5))

[{'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [34]:
# Your Code
list(db.companies.find({"founded_month":{ "$in": list(range(1,7)) }},{"_id":0,"name":1})
     .sort([("acquisition.price_amount", DESCENDING)]).limit(10))

[{'name': 'Sun Microsystems'},
 {'name': 'Siebel Systems'},
 {'name': 'Netscape'},
 {'name': 'SuccessFactors'},
 {'name': 'YouTube'},
 {'name': 'Zappos'},
 {'name': 'Meraki'},
 {'name': 'Tumblr'},
 {'name': 'Alibaba'},
 {'name': 'Kiva Systems'}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [37]:
# Your Code
list(db.companies.find({"$and":[{"category_code":{ "$eq": "web" }},
                                {"number_of_employees":{ "$gt": 4000 }}]},
                        {"_id":0,"name":1})
     .sort([("number_of_employees", ASCENDING)]).limit(5))

[{'name': 'Expedia'},
 {'name': 'AOL'},
 {'name': 'Webkinz'},
 {'name': 'Rakuten'},
 {'name': 'Los Angeles Times Media Group'}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [39]:
# Your Code
list(db.companies.find({"$and":[{"acquisition.price_currency_code":{ "$eq": "EUR" }},
                                {"acquisition.price_amount":{ "$gt": 10000000 }}]},
                        {"_id":0,"name":1}).limit(5))

[{'name': 'ZYB'},
 {'name': 'Apertio'},
 {'name': 'Greenfield Online'},
 {'name': 'Webedia'},
 {'name': 'Wayfinder'}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [42]:
# Your Code
list(db.companies.find({"acquisition.acquired_month":{ "$in": list(range(1,3)) }},
                       {"_id":0,"name":1,"acquisition":1}).limit(10))

SyntaxError: invalid syntax (<ipython-input-42-41e1125c50d7>, line 3)

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [43]:
# Your Code
list(db.companies.find({"$and":[{"founded_year":{ "$in": list(range(2000,2010)) }},
                                {"acquisition.acquired_year":{ "$gt": 2011 }}]},
                        {"_id":0,"name":1}).limit(5))

[{'name': 'Wetpaint'},
 {'name': 'Digg'},
 {'name': 'Geni'},
 {'name': 'blogTV'},
 {'name': 'Revision3'}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [48]:
# Your Code
list(db.companies.find({"$match":{"deadpooled_year":{"$exists": True}},
                        {"Diff": {"$subtract":["founded_year","deadpooled_year"]}}}).limit(5))

SyntaxError: invalid syntax (<ipython-input-48-56a568a95650>, line 3)

In [ ]:
{"_id":0,"founded_year":1,"deadpooled_year":1}
,{"Diff": {"$gte": 3}}